@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  view-transition-name: root;
}


html {
  font-feature-settings: 'kern' off;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  font-kerning: none;
  font-size: clamp(1px, 12px, 10 * 100vw / 390);
  font-size: clamp(1px, 12px, 10 * 100vw / var(--size));
}
.top-layer {
  z-index: 9999;
}
.h3 {
  font-size: 5.75rem;
  line-height: 1.13;
  letter-spacing: -0.02em;
}

::view-transition-old(root) {
  animation: fade-out 0.6s linear;
  cursor: wait !important;
}

.header {
  position: fixed;
  z-index: 999;
  view-transition-name: z-index;
  transition: 500ms ease-in-out transform;
}
.header img {
  transition: 500ms ease-in-out transform;
}
::view-transition-old(z-index) {
  z-index: 999;
}

::view-transition-new(root) {
  animation: fade-in 0.6s linear;
  cursor: wait !important;
}



html:has(::view-transition) {
  cursor: wait !important;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.999;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes opacity-in {
  from {
    background: black;
    pointer-events: all !important;
    opacity: 0;
  }
  to {
    background: black;
    pointer-events: all !important;
    opacity: 0.5;
  }
}

/* .mask-out-page-transition{
    view-transition-name: mask-out-page-transition;
    
}
::view-transition-old(mask-out-page-transition) {
    animation: mask-out-page-transition 0.6s linear;
}
@keyframes mask-out-page-transition {
    from{
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);


    }to{
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);

    }
} */

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  pointer-events: all;
  view-transition-name: overlay;
  cursor: wait !important;
}
.overlay-shadow {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0;
  pointer-events: none;
  view-transition-name: shadow;
  cursor: wait !important;
}

@keyframes slide-out {
  from {
    background: white;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  to {
    background: white;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}

@keyframes slide-in {
  from {
    background: white;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    background: white;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
}

::view-transition-old(overlay) {
  animation: slide-out 0.6s ease-in-out;
  animation-delay: 0s;
}

::view-transition-old(shadow) {
  animation: opacity-in 0.6s ease-in-out;
  animation-delay: 0s;
}

::view-transition-new(overlay) {
  animation: slide-in 1s ease-in-out;
  animation-delay: 0.6s;
}
.page-wrap:has(.about-page) {
  background-image: url('/about-bg.png');
  background-size: cover;
  background-position: top center;
  margin-top: 0;
  display: flex;
  align-items: end;
}
body:has(.about-page) .header > div,  body:has(.about-page) .header > a{
    transition: 500ms invert linear 200ms;
  filter: invert(1);
}
body:has(.about-page) .header::before {
  background-color: transparent;
}

.about-page {
  padding-top: 80px;
}
* {
  font-weight: 500;
  letter-spacing: -0.02em;
}
mux-player {
  --playback-rate-menu-button: none;
  --pip-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --fullscreen-button: none;
  --volume-range: none;
  --rendition-menu-button: none;
  /* --controls: none; */
}

.scroll-visible {
  transform: translateY(-100%) !important;
}
.scroll-visible img {
  transform: translateY(200%) !important;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  pointer-events: none;
  z-index: 90;
  transition: 500ms ease-in-out transform;
}
.header > div,
.header a {
  z-index: 999;
  pointer-events: all !important;
}

.columns-header{
  position: absolute;
  top:15px;
  left: 51%;
  z-index: 9999;
}