.html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* p:not(:last-child) {
  margin-bottom: 0.875rem;
} */

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}


.project-link-wrap > a{
  height: fit-content;
}
.about-link{
  position: absolute;
  top: 17px;
  left: 51%;
}

@media only screen and (max-width: 768px) {
  .about-link, .columns-header {
    display: none;
  }
  .about-page {
    width: 100%;
    padding-left: 0 !important;
  }
  .all-projects-header{
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    /* justify-content: end;
    height: calc(40vh - 24px - 32px);
    display: flex;
    gap:1rem */
  }
  .all-projects-header > div{
    margin:0 !important
  }
  .header > a{
    display: none;
  }
  .header{
    justify-content: space-between !important;
  }
  .header > .flex:last-of-type{
    justify-content: end;
  }

  .scroll-visible {
    transform: translateY(0%) !important;
  }
  .scroll-visible img {
    transform: translateY(0%) !important;
  }
  
}