.html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* p:not(:last-child) {
  margin-bottom: 0.875rem;
} */

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}
footer{
  z-index: 99;
  
}
.project-link-wrap::before{
  content:'';
  width: 120%; 
  height: 100%;
  position: absolute;
  top: 0;
  left: -10%;

  background-color:white;
}
.home-project-title{
    position: relative;
}
.home-project-title::before{
  content:'';
  width: 120%; 
  height: 100%;
  position: absolute;
  top: 0;
  left: -10%;

  background-color:white;
}
.project-link-wrap{
  margin-top:0px !important;
  position: relative;
}
.project-link-wrap > a{
  height: fit-content;
}
.about-link{
  position: fixed;
  top: 17px;
  left: 51%;
  transition: 500ms ease-in-out transform;
}
body:has(.scroll-visible) .about-link{
  transform: translateY(-200%) !important;
}
.all-projects-header > div{
  margin:0 !important;
}

@media only screen and (max-width: 768px) {
  .about-link, .columns-header {
    display: none;
  }
  .about-page {
    width: 100%;
    padding-left: 0 !important;
  }
  .about-page-overlay{
    padding-inline:1rem;
    min-height: 100vh;
    height: fit-content;

  }
  .about-page-overlay > div{
    padding-left: 0;
   
  }
  .about-page-overlay > div{
    padding-top:calc(1rem + 80px) !important;
  }
  .all-projects-header{
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    justify-content: end;
    min-height: calc(40vh - 24px - 32px);
    display: flex;
    gap:1rem
  }
  .all-projects-header > div{
    margin:0 !important
  }
  .header > a{
    display: none;
  }
  .header{
    justify-content: space-between !important;
  }
  .header > .flex:last-of-type{
    justify-content: end;
  }

  .scroll-visible {
    transform: translateY(0%) !important;
  }
  .scroll-visible img {
    transform: translateY(0%) !important;
  }
  .filters-wrap > div{
    display: flex;
    justify-content: space-between;
    flex-direction: column !important;
  }
  .filters-wrap > div > .flex{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .filters-wrap > div > .flex > p, .filters-wrap > div > .flex > div{
    width: 50%;
  }
  .header-wrap{
    width: 100%;
  }
}
@media only screen and (min-width: 1279px) {
.project-link-wrap.one-column > a:nth-child(1){
  width: 80%;
  justify-self: end;
}
.project-link-wrap.one-column > a:nth-child(2){
  width: 80%;
}
}